:root {
  --title-color: #c73d46;
}

.App {
  height: 100vh;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  background: url('./assets/call3.jpg') no-repeat;
  background-position: 42vw bottom;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
} 

header a {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  margin-top: 0;
}

header h3 {
  font-size: 20px;
}

header img {
  width: 100px;
  height: 50px;
}

main {
  max-width: 560px;
}

main h1 {
  font-size: 54px;
  color: var(--title-color);
  margin-top: 10px;
}

main p {
  font-weight: 700;
  margin-top: -30px;
  color: #192A30;
}

main form {
  background-color:#ECECEC;
  padding: 30px;
  border-radius: 8px;
  margin: 40px auto;
  max-width: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form input,
form select {
  background-color: #FFF;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  width: 300px;
  outline-color: var(--title-color);
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
}

main form input {
  color: var(--title-color);
}

main form select {
  font-size: 16px;
  color: #757575;
}

main form button {
  width: 260px;
  height: 56px;
  background-color: var(--title-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  margin-top: 40px;
  transition: background-color 400ms;
}

main form button:hover {
  background-color: #9c3037;
}
